/*etrutura basica*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#2A292F;
    font-family:Arial, sans-serif;
    color:white;
}

.container{
    width:90%;
    max-width:600px;
    margin:50px auto;
    padding:30px;
    background:#1b5e09;
    border-radius:20px;
    text-align:center;
}

  /*textos*/

h1{
    margin-bottom:20px;
}

 /*botões*/

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:10px;
    border:none;
    border-radius:10px;
    margin-bottom:10px;
}

button{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#ebc729;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

  /*resultado da conta*/

.resultado{
    margin-top:25px;
    padding:20px;
    background:#3d3d3d;
    border-radius:15px;
}

  /* botão de volta*/

.voltar{
    position: fixed;
    font-size: 14px;
    top: 20px;
    left: 20px;
    padding: 12px 20px;
    background-color: #ebc729;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}
